body {
    background-color: lightgray;
}

.crystal-image {
    /* Crystal images */
    width: 200px;
    height: 200px;
    align-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 3vw 0 3vw;
    background-color: lemonchiffon;
    border-bottom: 10px solid rgba(92, 92, 92, 0.226);
    border-left: 4px solid rgba(92, 92, 92, 0.226);
    border-right: 4px solid rgba(92, 92, 92, 0.226);
}

.jumbotron {
    background-color: lemonchiffon;
    border-bottom: 2px solid rgba(92, 92, 92, 0.226);
}

.scores {
    background-color: lightblue;
    border-bottom: 2px solid rgba(92, 92, 92, 0.226);
}

#win-card-body {
    background-color: rgb(110, 224, 110);
    border-bottom: 2px solid rgba(92, 92, 92, 0.226);
}

#lose-card-body {
    background-color: rgb(189, 52, 52);
    border-bottom: 2px solid rgba(92, 92, 92, 0.226);
}